*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* ----- Navigation Bar ----- */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    width: 100%;
    padding: 14px 3% 14px;
    position: fixed;
    background-color: #008bdc8c;
    backdrop-filter: blur(70px);
    font-family: "Poppins", sans-serif;
}

.logo{
    color: #fff;
    font-weight: 700;
    font-size: 28px;
}

.logo span{
    color: #FFED4F;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
}

.nav-button{
    display: flex;
    gap: 30px;
}

.nav-button a{
    color: #ebebeb;
    font-weight: 400;
    transition: 0.3 ease;
}

.nav-button a:hover,
.nav-button a:active{
    color: #fff;
    font-weight:600;
    transform: scale(1.1);
}

.account-icon{
    width: 45px;
}

/* ----- Main Content ----- */
/* ----- Add Data Form Box----- */

main{
    display: block;
    margin: 140px 160px;
    padding-bottom: 25px;
    background-color: #E3E2F0;
    border-radius: 50px;
}

.card{
    padding: 55px 103px 55px 83px;
}

/* ----- Add Data Form Header----- */

.card-header{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding-bottom: 60px;
    font-family: "Poppins", sans-serif;
}

.add-dataIcon{
    width: 75px;
    height: 75px;
}

.title{
    font-weight: 700;
    font-size: 25px;
    color: #282828;
}

.title-desc{
    font-weight: 400;
    font-size: 21px;
    color: #282828;
}

/* ----- Add Data Form ----- */

.form {
    font-family: "Inter", sans-serif;
    border-radius: 8px;
}

.form-input{
    padding-bottom: 28px;
}

form label {
    font-weight: 400;
    font-size: 20px;
}

form input[type="text"],
form input[type="date"] {
    margin-top: 10px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 15px;
}

/* ----- Add Data Form Button ----- */

.button{
    padding-top: 70px;
    display: flex;
    gap: 210px;
    justify-content: center;
}

form input[type="submit"],
form input[type="reset"]{
    background-color: #008DDC;
    color: white;
    padding: 12px 56px;
    font-size: 20px;
    font-weight: 200;
    border : 2px solid #496ADE;
    border-radius: 20px;
    cursor: pointer;
}

form input[type="reset"]:hover,
form input[type="submit"]:hover{
    background-color: #026097;
}
