*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* --------- Navbar --------- */
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 48px 13px 10px ;
    background-color: #109BFF;
}

.navbar{
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.acc-icon-container{
    display: flex;
    justify-content: center;
}

.account-icon{
    width: 60px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style-type: none;
}

.dashboard-icon,
.addData-icon,
.feedback-icon{
    width: 40px;
    transition: transform 0.3s ease;
}

.logOut-menu{
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 100px;
    font-weight: 400;
    font-size: 13px;
    color: white;
}

.logOut-icon{
    width: 20px;
}

.dashboard-icon:hover,
.addData-icon:hover,
.feedback-icon:hover{
    transform: scale(1.3);
}

/* --------- Header and Filter button --------- */
header{
    padding: 30px 0px 30px 150px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 26px;
    font-weight: 700;
    color: #4B93FF;
}

.logo span{
    color: #FFE713;
}

/* --------------------- Main Content ------------------------ */
main {
    padding: 0px 45px 0px 150px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 13px;
    column-gap: 20px;
}

.titles {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    color: #109BFF;
    padding-bottom: 3px;
}

.tabel {
    grid-column: span 2;
    grid-row: span 3;
}

.linetotal {
    grid-column: span 4;
    padding-top: 40px;
}

.totalavg, .totalprop{
    grid-column: span 4;
    padding-top: 40px;
}

/* ----------  Chart Detail ---------- */

.borough-filter{
    margin-left: 11%;
}

.dropbtn-borough{
    padding: 6px 18px;
    font-weight: 500;
    font-size: 12px;
    color: #585858;
    background-color: #dbdada;
    border: none;
    border-radius: 5px;
}

/* .dropbtn-borough option{
    position: absolute;
    font-weight: 400;
    font-size: 11px;
    background-color: #f1f1f1;
    width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: none;
} */

.dropbtn-borough option:hover{
    background-color: #ddd;
}

/* .borough-dropdwn-content a:hover{
    background-color: #ddd;
} */

/*
.borough-filter:hover .borough-dropdwn-content{
    display: block;
}

.borough-filter:hover .dropbtn-borough{
    background-color: #9ac1f886;
} */

.score-card1,
.score-card2 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
} 

.scoretotal, .scoreprop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 180px;
    height: 43px;
    background-color: #0075c956;
    border-radius: 9px;
}

#total-sale-price, #total-property{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #6b6b6b;
}

.tabelrec {
    padding: 10px;
    background-color: white;
    overflow: auto;
}

table{
    width: 100%;
    table-layout: fixed;
}

#data-tabel{
    font-size: 14px;
}

/* table.dataTable th.sorting_1,table.dataTable td.sorting_1{
    text-align: right;
}
table.dataTable th.dt-type-numeric,table.dataTable td.dt-type-numeric{
    text-align: center;
}
table.dataTable th.dt-type-date,table.dataTable td.dt-type-date{
    text-align: center;
} */

/* .tabel_header {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    color: #109BFF;
    padding-bottom: 3px;
} */

table th {
    position: sticky;
    top : 0;
    background-color:#4B93FF;
    color: #FFE713;
    font-size: 15px;
    overflow: hidden;
}

table td{
    overflow: hidden;
    word-wrap:break-word;
}

.piechart1, .piechart2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    grid-column: span 2;
}

.pieavg, .pietotal {
    padding-top: 10px;
}

#piechart-avg, #pie-total-property-sales{
    max-height: 255px;
    max-width: 255px;
}

.linechartotal, .totalavgchart, .linechartprop {
    padding: 10px;
    background-color: #c0bebe2c;
}

.total-prop-filter-area{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px auto;
    font-size: 12px;
    font-weight: 00;
}

#yearSelect {
    padding: 6px 18px;
    font-weight: 500;
    font-size: 13px;
    color: #3f3f3f;
    background-color: #ebebeb;
    border: none;
    border-radius: 5px;
}

.total-avg-filter-area{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 20px auto;
    font-size: 12px;
    font-weight: 400;
}

.totalprop .filter-area {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

#propertySalesChart, #salesVsAvgPriceChart, #propertySalesByYearBuiltChart{
    max-width: 100%;
}

/* -------------- Footer --------------- */
.footertitle {
    padding: 27px 45px 10px 150px;
    text-align: center;
    font-size: 12px;
    color: black;
}

/*-------- mobile ------*/
@media (max-width: 767px) {
    /* --------- Navbar --------- */
    nav {
        width: 100%;
        height: auto;
        padding: 8px 15px;
        position: sticky;
    }
    
    .navbar {
        flex-direction: row;
        gap: 188px;
    }
    
    .account-icon{
        width: 30px;
    }

    ul {
        flex-direction: row;
        gap: 28px;
    }
    
    .dashboard-icon,
    .addData-icon,
    .feedback-icon{
        padding-top: 5px;
        width: 20px;
    }

    /* --------- Header and Filter button --------- */
    header {
        padding: 15px 0px 35px 20px; 
        gap: 35px; 
    }

    .logo {
        font-size: 14px;
    }


    /* --------------------- Main Content ------------------------ */
    main {
        padding: 0px 12px 0px 12px;
    }

    .titles {
        font-size: 12px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto; 
        row-gap: 10px;
    }

    /* ----------  Chart Detail ---------- */
    .borough-filter{
        margin: 0;
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }

    .dropbtn-borough{
        padding: 4px 11px;
        font-size: 11px;
    }
    
    .score-card1,
    .score-card2 {
        grid-column: span 2;
        padding: 20px 0px 20px 0px;
    } 

    .scoretotal, .scoreprop {
        max-width: 150px;
        border-radius: 10px;
    }

    #total-sale-price, #total-property{
        font-size: 12px;
        max-width: 120px;
    }
    
    .tabel {
        grid-column: span 4;
        max-width: 363px;
        padding: 0px;
        margin: 0;
    }

    .tabelrec {
        padding: 5px;
        /* max-height: 300px; */
    }
    

    table th {
        font-size: 13px;
    }

    #data-tabel{
        font-size: 12px;
    }

    .piechart1, .piechart2{
        grid-column: span 4;
        gap: 10px;
    }

    .linetotal, .totalavg, .totalprop {
        padding-right: 20px;
        grid-column: span 4;
    }

    /* Footer */
    .footertitle {
        padding: 27px 0 10px 0;
        margin-left: 20px;
        text-align: center;
        font-size: 12px;
        color: black;
    }
    
}

/*-------- mobile tablet ------*/
@media (min-width: 768px) and (max-width: 1199px) {
    /* --------- Navbar --------- */
    nav {
        width: 100%;
        height: auto;
        padding: 8px 15px;
        position: fixed;
    }

    .navbar {
        flex-direction: row;
        gap: 85px;
    }

    .account-icon {
        width: 40px;
    }

    ul {
        flex-direction: row;
        gap: 28px;
    }

    .dashboard-icon,
    .addData-icon,
    .feedback-icon {
        padding-top: 5px;
        justify-content: center;
        margin-left: 40px;
        width: 27px;
    }

    .logOut-icon {
        width: 20px;
    }

    .logOut-menu {
        padding-top: 0px;
        padding-left: 320px;
        font-weight: 3000;
        font-size: 13px;
        gap: 5px;
    }

    /* --------- Header and Filter button --------- */
    header {
        padding: 70px 0 35px 20px;
        gap: 30px;
        margin-left: 100px;
        justify-content: center;
    }

    .logo {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .filter-button {
        flex-direction: row;
        align-items: center;
    }

    .dropbtn-borough {
        padding: 5px 15px;
        font-size: 13px;
    }

    .dropbtn-month {
        padding: 5px 10px;
        font-size: 13px;
    }

    .borough-filter{
        margin-bottom: 15px;
    }

    /* --------------------- Main Content ------------------------ */
    main {
        padding: 0 15px;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
    }

    .tabel {
        grid-column: span 4;
        grid-row: span 2;
        padding: 20px;
    }

    .tabel_header {
        font-size: 18px;
    }

    .tabelrec {
        padding: 20px;
        min-height: 350px;
        background-color: white;
        overflow: auto;
    }

    table {
        font-size: 16px;
    }

    table th {
        font-size: 17px;
    }

    #data-tabel {
        font-size: 15px;
    }

    /* ---------- Chart Detail ---------- */
    .piechart-container {
        display: flex;
        flex-direction: column;
    

    }
    .piechart1,
    .piechart2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
        grid-column: span 1;
    }
    #piechart-avg,
    #pie-total-property-sales {
        max-height: 300px;
        max-width: 300px;
    }

    .linechartotal,
    .totalavgchart,
    .linechartprop {
        padding: 10px;
    }

    #propertySalesChart,
    #salesVsAvgPriceChart,
    #propertySalesByYearBuiltChart {
        max-width: 100%;
    }

    /* -------------- Footer --------------- */
    .footertitle {
        padding: 20px 10px 5px;
        text-align: center;
        font-size: 10px;
        color: black;
    }
}


