*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* --------- Navbar --------- */
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 48px 20px 10px ;
    background-color: #109BFF;
}

.navbar{
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.acc-icon-container{
    display: flex;
    justify-content: center;
}

.account-icon{
    width: 60px;
}
